@font-face {
    font-family: "MyFont";
    src: url("orkney-regular.otf") format("opentype");
}

@font-face {
    font-family: "Modern";
    src: url("Modern\ Font.otf") format("opentype");
}

body{
    font-family: MyFont;
    background-color: #F0F3EF;
    color: goldenrod;
}

#Nav{
    background-color: rgb(147, 147, 147);
    padding: 5px;
}

a{
    color: rgb(255, 255, 255);
}

footer{
    padding: 10px;
}

img{
    border-radius: 15px;
    box-shadow: black -10px 25px 1.5em;
    animation: image 4s;
}

img:hover{
    opacity: 0.6;
}

input{
    border-radius: 5px;
    border: none;
}

a{
    text-decoration: none;
}

footer{
    color: whitesmoke;
    background-color: #35325E;
}

header{
    color: black;
}

.more{
    color: white;
    background-color: black;
    border: none;
    border-radius: 30px;
    width: 300px;
    height: 60px;
    font-size: x-large;
    transition: ease 0.4s;
}

.more:hover{
    background-color: #35325E;
    width: 330px;
    height: 79px;
    border-radius: 25px;
}

header{
    color: black;
    animation: header 2s;
}

@keyframes header {
    from{
        transform: translateX(-80%);
    }

    to{
        transform: translateX(0%);
    }
}

nav{
    animation: nav 2s;
}

@keyframes nav {
    from{
        transform: translateX(100%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes image {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

#title{
    animation: title 6s;
}

@keyframes title {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

